{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  }
}